<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{AdminSystem/AdminSystemTemplate.html}">
<head>
<title>CategoryDetail</title>
</head>
<main layout:fragment="content">
	<div class="container-fluid px-4">
		<h1 class="mt-4">流水帳分類管理</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a href="CategoryList">流水帳紀錄</a></li>
			<li class="breadcrumb-item active">流水帳分類管理</li>
		</ol>
		<div class="card mb-4">
			<div class="card-body">
				<div>
					<p>
						標題 <input type="text">
					</p>
					<p>備註</p>
					<textarea rows="5" cols="20"></textarea>
					<br>
					<input type="submit" value="儲存">
				</div>
			</div>
		</div>
	</div>
</main>
</html>
